{% extends 'root/base.html' %}

{% block content %}

{% include 'root/navbar.html' %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2>Order Details</h2>
      <hr>
      <h5>Invoice: {{ orders.invoice }}</h5>
      <h5>Status: {{ orders.status }}</h5>
      <h5>Customer Name: {{ customer.username }}</h5>
      <h5>Customer Email: {{ customer.email }}</h5>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr</th>
            <th scope="col">Product</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Color</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {% for key, product in orders.orders.items() %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ product.name }}</td>
            <td><img src="{{ url_for('static', filename='img/' + product.image) }}" alt="{{ product.name }}" style="max-width: 50px; max-height: 50px;"></td>
            <td>${{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.color }}</td>
            <td>${{ (product.price | float * product.quantity | int) | round(2) }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="5"></td>
            <td><strong>Grand Total:</strong></td>
            <td>${{ grandtotal }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <div style="display: inline-block; margin-right: 10px;">
            <form action="{{ url_for('pdf_gen', invoice=orders.invoice) }}" method="post">
                <button type="submit" class="btn btn-warning">Get PDF</button>
            </form>
        </div>
        <div style="display: inline-block;">
            <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
        </div>
    </div>
    </div>
  </div>
</div>

{% endblock content %}
