{% extends 'root/base.html' %}

{% block content %}

{% include 'root/navbar.html' %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      Invoice: {{ orders.invoice }}
      <br>
      Status: {{ orders.status }} <!-- Assuming order.status exists -->
      <br>
      Customer Name: {{ customer.username }}
      <br>
      Customer Email: {{ customer.email }}
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Color</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through cart items -->
          {% set total_amount = 0 %}
          {% if orders.orders %}
            {% for key, product in orders.orders.items() %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ product.name }}</td>
              <td>${{ product.price }}</td>
              <td>{{ product.quantity }}</td>
              <td class="total-cell" id="total">${{ product.price | float * product.quantity | int }}</td>
              <td>{{ product.color }}</td>
              <td>
                <a href="{{ url_for('deleteitem', id=key) }}">
                  <button class="btn btn-sm btn-warning">Remove</button>
                </a>
              </td>
            </tr>
            {% set total_amount = total_amount + (product.price | float * product.quantity | int) %}
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="7">No items in the order</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cart Summary</h5>
          <p class="card-text">Total Items: {{ total_items }}</p>
          <p class="card-text">Total Amount: <span id="total-amount">{{ total_amount }}</span></p>
          <a href="{{ url_for('get_order') }}" class="btn btn-primary">Checkout</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
