{% extends 'root/base.html' %}

{% block content %}

{% include 'root/navbar.html' %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2>Shopping Cart</h2>
      <br>
      <p><strong>Customer Name: {{customer.first_name}} {{customer.last_name}}</strong></p>
      <p><strong>Customer Contact: {{customer.number}}</strong></p>
      <p><strong>Shipping Address: {{customer.address}}</strong></p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Color</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for key, product in session['Shoppingcart'].items() %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ product.name }}</td>
            <td><img src="{{url_for('static', filename='img/' + product.image)}}" alt="{{product.name}}" style="max-width: 50px; max-height: 50px;"></td>
            <td>${{ product.price }}</td>
            <form action="{{url_for('updatecart', code=key)}}" method="post">
              <td>
                <input type="number" name="quantity" value="{{ product.quantity }}" min="1" max="{{ product.stock }}" style="width: 50px;">
              </td>
              <td>{{product.color}}</td>
              <td>${{ (product.price | float * product.quantity | int) | round(2) }}</td>
              <td>
                <button type="submit" class="btn btn-sm btn-info">Update</button>
              </td>
            </form>
            <td>
              <a href="{{ url_for('deleteitem', id=key) }}">
                <button class="btn btn-sm btn-warning">Remove</button>
              </a>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td>
              <!-- Checkout button -->
              <a href="{{ url_for('get_order')}}" class="btn btn-success" id="checkoutButton" disabled>Checkout</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4"><strong>Grand Total:</strong> {{grandtotal}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
<!-- Payment form -->
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <form id="paymentForm">
        <div class="form-group">
          <input type="hidden" id="email-address" class="form-control" value="{{customer.email}}" required/>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="hidden" id="amount" class="form-control" value="{{grandtotal}}" required readonly/>
          </div>
        </div>
        <div class="form-submit text-center">
          <button type="submit" class="btn btn-primary btn-block" onclick="payWithPaystack()"> Pay Now </button>
        </div>
      </form>
    </div>
  </div>
</div>



   <!-- Place the "Clear Cart" button outside of the row -->
   <div class="row mt-3">
    <div class="clear-cart-container">
      <a href="{{url_for('clearCart')}}" class="btn btn-danger btn-sm float-right">Clear Cart</a>
      <a href="javascript:history.go(-1)" class="btn btn-primary btn-sm">Back</a>
   </div>
   </div>
  </div>
</div>

<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="{{ url_for('static', filename='js/payment.js') }}"></script>
{% endblock content %}
