/* Apply Montserrat font to the entire page */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Adjust the weight as needed */
    font-style: normal;
    background-color: #f0f0f0;
  }

.wrapper {
    border-top: 03px solid green;
}

.wrapper a{
    text-decoration: none;
    color: green;
}
