{% extends 'admin/base.html' %}

{% block content %}

{% include 'admin/navbar.html' %}
<body class="bg-light">
    <div class="container">
        {% include 'admin/_messages.html' %}
        <div class="row mt-5">
            <div class="col-lg-8 bg-white m-auto rounded-top wrapper">
                <h2 class="text-center pt-3" style="background-color: #17a2b8; color: #fff; padding: 10px;">Add Product</h2>

                <form action="{{ url_for('add_product') }}" method="POST" id="add-product-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter product name" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" name="price" placeholder="Enter product price" pattern="^\d*(\.\d{0,2})?$" title="Please enter a valid price (e.g., 14.99)" required>
                    </div>
                    <div class="mb-3">
                        <label for="discount" class="form-label">Discount</label>
                        <input type="number" class="form-control" id="discount" name="discount" value="0">
                    </div>
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock</label>
                        <input type="number" class="form-control" id="stock" name="stock" placeholder="Enter product stock" required>
                    </div>
                    <div class="mb-3">
                        <label for="short_description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" placeholder="Enter short description" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="colors" class="form-label">Colors</label>
                        <textarea class="form-control" id="colors" name="colors" placeholder="Enter available colors" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="brand" class="form-label">Brand</label>
                        <select class="form-select" id="brand" name="brand" required>
                            {% for brand in brands %}
                                <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select class="form-select" id="category" name="category" required>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="image_1" class="form-label">Image 1</label>
                        <input type="file" class="form-control" id="image_1" name="image_1" accept="image/*" required>
                    </div>
                    <div class="mb-3">
                        <label for="image_2" class="form-label">Image 2</label>
                        <input type="file" class="form-control" id="image_2" name="image_2" accept="image/*">
                    </div>
                    <div class="mb-3">
                        <label for="image_3" class="form-label">Image 3</label>
                        <input type="file" class="form-control" id="image_3" name="image_3" accept="image/*">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <a href="{{ url_for('admin_home') }}" class="btn btn-outline-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock content %}
