{% extends 'admin/base.html' %}

{% block content %}
{% include 'admin/_messages.html' %}

{% include 'admin/navbar.html' %}

<h1>Registered Users</h1>
  <h2>Regular Users</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Admin Users</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for admin in admins %}
      <tr>
        <td>{{ admin.id }}</td>
        <td>{{ admin.username }}</td>
        <td>{{ admin.email }}</td>
        <td>
          <form action="{{ url_for('delete_admin', admin_id=admin.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
