{% extends 'admin/base.html' %}

{% block content %}

<body class="bg-light">
<div class="container">
    {% include 'admin/_messages.html' %}
    <div class="row mt-5">
        <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
            <h2 class="text-center pt-3">Login</h2>
            <p class="text-center text-muted lead">Welcome to Japanet Admin Login Page</p>

            <form action="{{ url_for('admin_login') }}" method="POST" id="login-form" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <label for="email" class="input-group-text"><i class="fa fa-envelope"></i></label>
                    <input id="email" name="email" type="text" class="form-control" placeholder="Email Address" required>
                </div>
                <div class="input-group mb-3">
                    <label for="password" class="input-group-text"><i class="fa fa-lock"></i></label>
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
                </div>     
                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Login</button>
                    <p class="text-center mt-3">Register Now for Free by clicking <a href="{{url_for('admin_register')}}"> Register</a>
                        <p class="text-center">
                            Forgot Password ? <a href="{{url_for('admin_login')}}"> Reset Password</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

{% endblock content %}
